body {
  background: url('../img/fond-body4.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titre {
  text-align: center;
  margin-top: 60px;
}

#logo-ow {
  margin: auto;
  height: auto;
}

.presentation-texte p {
  text-align: center;
  font-size: 18px;
  margin-top: 80px;
  margin-bottom: 80px;
}

/*block inscription */

.divAcceuil {
  background: url('../img/fondheader.jpg');
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px #FFB033 solid;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.divAcceuil h1 {
  margin-bottom: 80px;
  color: #FFB033;
  font-size: 30px;
}
.divAcceuil #logo1 {
  float: left;
  width: 45px;
  height: auto;
}
.divAcceuil #logo2 {
  float: right;
  width: 45px;
  height: auto;
}
.divAcceuil label {
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  color: #FFB033;
}
.divAcceuil p {
  color: #FFB033;
  font-weight: bold;
}
.divAcceuil #space {
  height: 10px;
}

.divAcceuil #valid {
  margin-top: 20px;
}
