body {
  background: url('../img/fond-body4.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titre {
  text-align: center;
  margin-top: 60px;
}

#logo-ow {
  margin: auto;
  width: 500px;
  height: auto;
  display: block;
}

/*block inscription */
.presentation-texte p {
  text-align: center;
  font-size: 18px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.block-inscription {
  background: url('../img/fondheader.jpg');
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 5px #FFB033 solid;
  border-radius: 10px;
  margin-top: 50px;
}
.block-inscription label {
  width: 200px;
  text-align: left;
  color: white;
}
#space {
  height: 10px;
}
