/* accueil */
body {
    background: url('../img/fond-body4.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titre {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 60px;
}

#logo-ow {
    margin: auto;
    height: auto;
}

.presentation-texte p {
    font-family: 'Neucha', serif;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 70px;
}

/*Page d'inscription */

.divInscription {
    background: url('../img/fondheader.jpg');
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px #FFB033 solid;
    margin-top: 50px;
    margin-bottom: 50px;
}
.divInscription h1 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 50px;
    color: #FFB033;
    font-size: 30px;
}

.divInscription label {
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
}
.divInscription p {
    font-family: 'Neucha', serif;
    font-size: 16px;
    color: #FFB033;
    font-weight: bold;
}

.divInscription input, select {
    color: black;
}

.divInscription #space {
    height: 10px;
}

.divInscription #submit {
    margin-top: 20px;
}
.formValid {
    color: green;
}

/* Page de connexion */

.divConnexion {
    background: url('../img/fondheader.jpg');
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px #FFB033 solid;
    margin-top: 50px;
    margin-bottom: 50px;
}

.divConnexion h1 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 50px;
    color: #FFB033;
    font-size: 30px;
}

.divConnexion label {
    font-family: 'Neucha', serif;
    font-size: 16px;
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
    color: #FFB033;
}

.divConnexion input {
    color: black;
}

.divConnexion p {
    color: #FFB033;
    font-weight: bold;
}

.divConnexion #submit {
    margin-top: 20px;
}