body {
  background: url('../img/fond-body2.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* div de la liste d'article */
.divBlock {
  height: auto;
  background: url('../img/fond-liste.png');
  background-size: cover;
  border-left: 2px #FFB033 solid;
  border-right: 2px #FFB033 solid;
  padding: 20px;
}
.divBlock h1 {
  color: white;
  margin-bottom: 100px;
  text-align: center;
}
.article {
  margin-bottom: 100px;
}
.article h2 {
  color: #FFB033;
}
.article p {
  color: white;
}
#art {
  float: left;
  height: auto;
  width: 300px;
  margin-right: 20px;
}
