body {
  background: url('../img/fond-body2.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* div de la liste d'article */
.divArticle {
  height: auto;
  background: url('../img/fond-liste.png');
  background-size: cover;
  border-left: 2px #FFB033 solid;
  border-right: 2px #FFB033 solid;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.divArticle h1 {
  color: #FFB033;
  margin-bottom: 70px;
  text-align: center;
}

.divArticle p {
  color: white;
  font-size:  16px;
  margin-bottom: 50px;
}

#art {
margin: auto;
}

.paragraphe1 {
  margin-top: 50px;
}

.comment label {
  color: #FFB033;
  font-size: 20px;
}
