body {
  background: url('../img/fond-body2.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* div de la liste d'article */
.article1 {
  height: auto;
  background: url('../img/fond-liste.png') no-repeat;
  background-size: auto;
  border: 5px #FFB033 solid;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.article1 h1 {
  color: #FFB033;
}

.article1 p {
  color: white;
  font-size:  16px;


}
#art {

text-align: center;
}
figcaption {
  color: white;
  text-align: right;

}
