


.navbar {
    margin-bottom: 0px;
    text-align: center;
}

.navbar a {}

.navbar-inverse {
    background: url('../img/fondheader.jpg');
    background-position: top;
}

/* Couleur des titres affichés dans la barre */
.navbar-inverse .navbar-brand {
    color: #FFB033;
}

/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: #FFB033;
    color: black;
}

/* Couleur utilisée pour les liens */
.navbar-inverse .navbar-nav > li > a {
    text-align: center;
    display: inline-block;
    float: none;
    color: #FFB033;
}

/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #FFB033;
    color: black;
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #FFB033;
    color: black;
}

/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #FFB033;
    color: black;
}

/* Version mobile, le menu devient une icône qui déroule une liste avec le menu en vertical */
.navbar-inverse .navbar-toggle {
    border-color: #FFB033;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #FFB033;
    border-color: black;
}

