header {
  background: url('../img/fondheader.jpg');
  min-height: 70px;
  text-align: left;
}

header p {
  color: #FFB033;
  font-size: 20px;
  margin: 20px;
  float: left;
}

header form {
  padding-top: 18px;
  color: #FFB033;
  text-align: right;
  padding-right: 50px;
}
header label {
  text-align: left;
  padding-right: 15px;
}
header input {
  margin-right: 30px;
}
