.navbar {
    margin-bottom: 0px;
}

#logoNavbar {
    width: 55px; 
    height: auto; 
    margin-top: 3px; 
    margin-right: 10px;
}
.navbar #iconProfil {
    border: 1px solid #ffb033;
    background-color: black; 
    width: 45px; 
    height: auto; 
    margin-top: 6px; 
}
.navbar-inverse {
    background: url('../img/fondheader.jpg');
    background-position: top;
}

/* Couleur des titres affichés dans la barre */
.navbar-inverse .navbar-brand {
    margin-top: 6px;
    color: #FFB033;
}

/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: #FFB033;
    color: black;
}

/* Couleur utilisée pour les liens */
.navbar-inverse .navbar-nav > li > a {
    font-family: 'Cabin', cursive;
    margin-top: 6px;
    font-size: 20px;
    color: #FFB033;
}

/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #FFB033;
    color: black;
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #FFB033;
    color: black;
}

/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #FFB033;
    color: black;
}

/* Version mobile, le menu devient une icône qui déroule une liste avec le menu en vertical */
.navbar-inverse .navbar-toggle {
    border-color: #FFB033;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #FFB033;
    border-color: black;
}
.dropdown a {
    font-size: 18px;
    color: #FFB033;
}
/* Couleur du petit menu déroulant de l'onglet profil */
.dropdown-menu {
    background-color: black;
    border: 1px solid #ffb033;
}
/* Couleur du separateur dans le menu */
.dropdown-menu .divider {
    background-color: #ffb033;
}

.dropdown-menu li a {
    color: #ffb033;
}