body {
    background: url('../img/fond-body2.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.divBlock {
    height: auto;
    background: url('../img/fond-liste.png') no-repeat;
    background-size: auto;
    border-left: 2px #FFB033 solid;
    border-right: 2px #FFB033 solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoUser h1 {
    color: #FFB033;
    margin-bottom: 50px;
}
.infoUser p {
    text-align: right;
    display: inline;
    color: #FFB033;
    font-weight: bold;
}
.infoUser img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.infoUser h2 {
    display: inline;
    font-size: 15px;
    color: #ffb033;
}
.imgUser {
    text-align: center;
}
.imgUser img {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 200px;
    height: auto;
    border-radius: 150px;
}