body {
    font-family: 'Oxygen', serif;
    background: url('../img/fond-body5.jpg') fixed no-repeat;
    background-size: cover;
    background-position: top;
}

/* Style de la page actualité *
/* div de la liste d'article */

.divActualite {
    background-color: rgba(0, 0, 0, 0.35);
    height: auto;
    border-left: 1px #FFB033 solid;
    border-right: 1px #FFB033 solid;
    padding: 20px;
}

.divActualite h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: white;
    margin-bottom: 100px;
    text-align: center;
}

.article {
    margin-bottom: 100px;
}

.article h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #FFB033;
}

.article p {
    color: white;
}

#picture {
    float: left;
    height: auto;
    width: 300px;
    margin-right: 20px;
}

/* Style de la page de l'article */

/* div de la liste d'article */

.divArticle {
    background-color: rgba(0, 0, 0, 0.35);
    height: auto;
    border-left: 1px #FFB033 solid;
    border-right: 1px #FFB033 solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divArticle h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #FFB033;
    margin-bottom: 70px;
    text-align: center;
}

.divArticle p {
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#picture-art {
    margin: auto;
}

.paragraphe1 {
    margin-top: 50px;
}

.comment label {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #FFB033;
    font-size: 20px;
}

.divCommentaires h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #FFB033;
    margin-top: 40px;
}
.divCommentaires .comment {
    margin-top: 60px;
}
.divCommentaires .comment img {
    float: left;
    width: 60px; 
    height: auto; 
}

.divCommentaires .comment p {
    font-size: 15px;
    margin-left: 100px;
}
/* Style de la page de profil */

.divProfil {
    background-color: rgba(0, 0, 0, 0.35);
    height: auto;
    border: 2px #FFB033 solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.infoUser h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #FFB033;
    margin-bottom: 50px;
}

.infoUser p {
    display: inline;
    text-align: right;
    color: #FFB033;
    font-weight: bold;
}

.infoUser img {
    width: 150px;
    height: 150px;
    border: 2px solid red;
    border-color: #FFB033;
}

.infoUser h2 {
    display: inline;
    font-size: 15px;
    color: #ffb033;
}

.imgUser {
    text-align: center;
}

.imgUser img {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*Style de la page forum */

.divForum {
    height: 1000px;
    background-size: cover;
    border-left: 1px #FFB033 solid;
    border-right: 1px #FFB033 solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divForum h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #FFB033;
    text-align: center;
    margin-bottom: 100px;
}

.divForum h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color:#ffb033;
}

.divForum p {
    color: white;
}

.forum-block {
    background-color: rgba(0, 0, 0, 0.35);
    padding-top: 5px;
    padding-bottom: 100px;
    padding-left: 40px;
    border: 1px solid #ffb033;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* Style de la page discussion */

/* Couleur des paginations */



.divDiscussion {
    height: 1000px;
    border-left: 1px #FFB033 solid;
    border-right: 1px #FFB033 solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divDiscussion .pagination li a {
    background-color: black;
    color: #ffb033;
    border: 1px solid #ffb033;
}

.divDiscussion h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #FFB033;
    margin-bottom: 45px;
}

.discussion-table {
    color: #ffb033;
}
.discussion-table a {
    color: #FFB033; 
}

.discussion-table th {
    background: url('../img/fondheader.jpg');
    background-position: top;
    color: #FFB033;
}

/* Style de la page sujet */

.divSujet {
    height: 1000px;
    border-left:1px #FFB033 solid;
    border-right: 1Px #FFB033 solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divSujet a {
    color: #ffb033;
}
.sujetText {
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #ffb033;
    height: auto;
}

/* Style page Overtchat */

.divTchat {
    height: 1000px;
    border-left:1px #FFB033 solid;
    border-right: 1Px #FFB033 solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.divTchat h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-align: center;
    color: #FFB033;
}
.channels {
}

.channels h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    font-size: 15px;
    text-align: center;
    color: #FFB033;
}